{% extends "base.html" %}

{% block content %}

<br>
<div>
    <form class="form" method='POST'>
        <h1> Please enter your address below.</h1>

        <br>

        <div style="margin-left:550px">
        Address:
        <input type='text' name='st_address' value="123 Main Street..." size="25">

        <br> <br>

        City:
        <input type='text' name='city' value="New York City...">

        <br> <br>

        State or Country:
        <input type='text' name='state' value="New York...">

        <br> <br>

        Radius (in miles):
        <input type='text' name='miles' value="1" size="3">

        <br> <br>
        <input type='submit' value='Submit' style="margin-left:100px">

        </div>
    </form>
</div>

{% endblock %}