{% extends "base.html" %}

{% block content %}

<br>
<div>
    <form method='POST' style="font-family:Adobe Garamond Pro Bold; font-size:16px; text-align:center">
        <h1 style="font-family:Adobe Garamond Pro Bold; font-size:24px; text-align:center; color:black"> Please enter your address below.</h1>
        Street Number <br>
        <input type='text' name='st_num' value="123...">
        <br>
        Street Name <br>
        <input type='text' name='st_name' value="Main...">
        <br>
        Street Type <br>
        <input type='text' name='st_type' value="Avenue...">
        <br>
        City <br>
        <input type='text' name='city' value="New York City...">
        <br>
        State or Country <br>
        <input type='text' name='state' value="New York...">
        <br>
        Radius (in miles) <br>
        <input type='number' name='miles' value="1">
        <br> <br>
        <input type='submit' value='Submit'>
    </form>
</div>

<!--Make this a drop down box with a checklist?-->

{% endblock %}