{% extends "base.html" %}

{% block content %}
<h1>Index Page</h1>

<div>
    <form method='POST'>
        Please enter your address below.<br>
        <br>
        Street Number: <br>
        <input type='text' name='st_num' value="123...">
        <br>
        Street Name: <br>
        <input type='text' name='st_name' value="Main...">
        <br>
        Street Type: <br>
        <input type='text' name='st_type' value="Avenue...">
        <br>
        City: <br>
        <input type='text' name='city' value="New York City...">
        <br>
        State or Country: <br>
        <input type='text' name='state' value="New York...">
        <br>
        <input type='submit' value='Submit'>
    </form>
</div>
<!--Make this a drop down box with a checklist?-->
<div><select>
    <option></option>
    {% for entry in chosen_media %}
        <option value="{{ entry }}">{{ entry }}</option>
    {% endfor %}
</select></div>
<div><p><input type="submit" name="Submit" value="Submit"></p></div>
{% endblock %}