{% extends "base.html" %}

{% block content %}
    <h1>Registration Page</h1>
    <form action="" method="POST" name="'register">
        {{ form.hidden_tag() }}
        <p>
            Please enter your Username:<br>
            {{ form.username(size=40) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
            Please enter your Password:<br>
            {{ form.password(size=40) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
            Please enter your First Name:<br>
            {{ form.first_name(size=40) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
            Please enter your Last Name:<br>
            {{ form.last_name(size=40) }}<br>
            {% for error in form.last_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
        </p>
        <p>Remember Me {{ form.remember_me }}</p>
        <p><input type="submit", value="Register"></p>
    </form>
{% endblock %}